#set($contextPath=$request.getContextPath())
#set($layout="commons/login_layout.vm")

<!-- WRAPPER -->
<div id="wrapper">
	<div class="vertical-align-wrap">
		<div class="vertical-align-middle">
			<div class="auth-box ">
				<div class="left">
					<div class="content">
						<div class="header">
##							<div class="logo text-center"><img src="$!contextPath/static/assets/img/logo-dark.png" alt="Klorofil Logo"></div>
							<p class="lead">Sign in your account</p>
						</div>
						<form class="form-auth-small" id="login-form" style="text-align: left;">
							<div class="form-group">
								<label for="username" class="control-label sr-only">Username</label>
								<input type="text" class="form-control" id="username" name="username" placeholder="Username" aria-describedby="" >
							</div>
							<div class="form-group">
								<label for="password" class="control-label sr-only">Password</label>
								<input type="password" class="form-control" id="password" name="password" placeholder="Password" >
							</div>
                            <div class="form-group" >
                                <input type="text" class="form-control" name="captcha" id="captcha" placeholder="验证码" maxlength="4" style="width: 50%;"/>
                                <canvas style="width: 50%;height: 34px;" id="myCanvas" onclick="createCode()">
                                    对不起，您的浏览器不支持canvas，请下载最新版浏览器!
                                </canvas>
                            </div>
                            <small class="help-block" style="color: red;" id="msg"></small>
							<div class="form-group clearfix">
								<label class="fancy-checkbox element-left">
									<input type="checkbox" value="1" name="rememberMe">
									<span>Remember me</span>
								</label>
							</div>
							<button type="button" class="btn btn-primary btn-lg btn-block" onclick="login()">LOGIN</button>
							<div class="bottom">
								<span class="helper-text"><i class="fa fa-lock"></i> <a href="#">忘记密码?</a></span>
							</div>
						</form>
					</div>
				</div>
				<div class="right">
					<div class="overlay"></div>
					<div class="content text">
						<h1 class="heading">权限管理系统</h1>
						<p>by The llyonga</p>
					</div>
				</div>
				#parse("commons/footer.vm")
			</div>
		</div>
	</div>
</div>
<!-- END WRAPPER -->

<script>
    $(function () {
        //验证码
        createCode();

        $('#login-form').bootstrapValidator({
            message: 'This value is not valid',
            feedbackIcons: {
                valid: 'glyphicon glyphicon-ok',
                invalid: 'glyphicon glyphicon-remove',
                validating: 'glyphicon glyphicon-refresh'
            },
            fields: {
                username: {
                    validators: {
                        notEmpty: {
                            message: '请输入用户名'
                        }
                    }
                },
                password: {
                    validators: {
                        notEmpty: {
                            message: '请输入密码'
                        }
                    }
                },
                captcha: {
                    validators: {
                        notEmpty: {
                            message: '请输入验证码'
                        }
                    }
                }
            }
        });
    });

	 //登录
	 function login() {
         $("#login-form").bootstrapValidator('validate');//提交验证
         if ($("#login-form").data('bootstrapValidator').isValid()) {
             //获取验证结果，如果成功，执行下面代码
			 var data = $("#login-form").serialize();
			 $.ajax({
				 type : "post",
				 data: data,
				 url : '$!contextPath/login',
				 success : function(data) {
				 	 if (data.code == 'ok') {
				 	     fncTurnToPage("/index");
				 	 } else {
				 		 $("#msg").text(data.msg);
				 	 }
				 },
				 error : function() {
				     window.toastr.error("系统异常!","",{"positionClass": "toast-top-center"});
				 }
			   });
         }
     }

     //获取验证码
    function createCode() {
        $.ajax({
            type : "post",
            url : '$!contextPath/captcha',
            success : function(data) {
                if (data) {
                    var c = document.getElementById("myCanvas");
                    var ctx = c.getContext("2d");
                    ctx.clearRect(0, 0, 1000, 1000);
                    ctx.fillStyle = "black";
                    ctx.font = "55px 'Microsoft Yahei'";
                    ctx.fillText(data, 0, 100);
                } else {
                    window.toastr.error("获取验证码异常!","",{"positionClass": "toast-top-center"});
                }
            },
            error : function() {
                window.toastr.error("系统异常!","",{"positionClass": "toast-top-center"});
            }
        });
    }
</script>