#set($contextPath=$request.getContextPath())

<!-- MAIN CONTENT -->
<div class="main-content">
    <input type="hidden" name="mid" value="101"/>
    <div class="container-fluid" style="padding-top: 0px;">
        <!-- 把设计好的导航路径的样式引进来 -->
        <ul class="breadcrumb" style="background: #F5F5FA;font-size: 18px;margin-top: 0px;">
            <li><a href="#"><i class="fa fa-home " aria-hidden="true"></i> 首页</a></li>
            <li class="active">菜单管理</li>
        </ul>
        <!---->
        <div class="row">
            <div class="col-md-4">
                <!-- BORDERED TABLE -->
                <div class="panel">
                    <!--<div class="panel-heading" >-->
                        <!--<div class="right">-->
                            <!--<button type="button" class="btn-toggle-collapse"><i class="lnr lnr-chevron-up "></i></button>-->
                        <!--</div>-->
                    <!--</div>-->
                    <div class="panel-body" style="height: 600px;overflow: auto;padding-bottom: 10px;padding-top: 10px;">
                        <ul id="menuTree" class="ztree"></ul>
                        <div>
                        </div>
                    </div>
                </div>
                <!-- END BORDERED TABLE -->
            </div>
            <div class="col-md-8">
                <div class="panel">
                    <!--<div class="panel-heading" >-->
                    <!--<div class="right">-->
                    <!--<button type="button" class="btn-toggle-collapse"><i class="lnr lnr-chevron-up "></i></button>-->
                    <!--</div>-->
                    <!--</div>-->
                    <div class="panel-body" style="padding-top: 20px;">
                        <form class="form-horizontal" role="form" style="height:400px;overflow-y: auto; overflow-x: hidden; " id="menu-form">
                            <div class="form-group">
                                <label class="col-sm-2 control-label">菜单名称</label>
                                <div class="col-sm-4">
                                    <input type="text" class="form-control"
                                           id="menuName" name="menuName" placeholder="菜单名称"
                                           data-toggle="tooltip" data-placement="bottom" title="菜单名称"/>
                                </div>
                                <label class="col-sm-2 control-label">菜单编码</label>
                                <div class="col-sm-4">
                                    <input type="text" class="form-control" readonly="readonly"
                                           id="menuId" name="menuId" placeholder="菜单编码"
                                           data-toggle="tooltip" data-placement="bottom" title="菜单编码"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">菜单URL</label>
                                <div class="col-sm-4">
                                    <input type="text" class="form-control"
                                           id="url" name="url" placeholder="菜单URL"
                                           data-toggle="tooltip" data-placement="bottom" title="菜单URL"/>
                                </div>
                                <label class="col-sm-2 control-label">父级编码</label>
                                <div class="col-sm-4">
                                    <input type="text" class="form-control" readonly="readonly"
                                           id="parentId" name="parentId" placeholder="父级编码"
                                           data-toggle="tooltip" data-placement="bottom" title="父级编码"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">菜单级别</label>
                                <div class="col-sm-4">
                                    <select class="form-control selectpicker" data-live-search="true" readonly="readonly"
                                            id="level" name="level" placeholder="菜单级别"
                                            data-toggle="tooltip" data-placement="bottom" title="菜单级别">
                                        <option value="1">一级菜单</option>
                                        <option value="2">二级菜单</option>
                                        <option value="3">三级菜单</option>
                                    </select>

                                </div>
                                <label class="col-sm-2 control-label">MID</label>
                                <div class="col-sm-4">
                                    <input type="text" class="form-control"
                                           id="mid" name="mid" placeholder="标识MID"
                                           data-toggle="tooltip" data-placement="bottom" title="标识MID"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">菜单图标</label>
                                <div class="col-sm-4">
                                    <input type="text" class="form-control"
                                           id="icon" name="icon" placeholder="菜单图标"
                                           data-toggle="tooltip" data-placement="bottom" title="菜单图标"/>
                                </div>
##                                <label class="col-sm-2 control-label">是否可用</label>
##                                <div class="col-sm-4">
##                                    <div class="radio radio-info radio-inline">
##                                        <input type="radio" id="isShow1" name="isShow" checked>
##                                        <label for="isShow1"> 在用 </label>
##                                    </div>
##                                    <div class="radio radio-inline">
##                                        <input type="radio" id="isShow2" name="isShow">
##                                        <label for="isShow2"> 禁用 </label>
##                                    </div>
##                                </div>
                            </div>
##                            <div class="form-group">
##                                <label class="col-sm-2 control-label" for="username1">用户名</label>
##                                <div class="col-sm-4 ">
##                                    <input type="text" class="form-control" id="username1" name="username" placeholder="请输入用户名">
##                                </div>
##                                <label class="col-sm-2 control-label" for="email">邮箱</label>
##                                <div class="col-sm-4 ">
##                                    <input type="text" class="form-control" id="email" name="email" placeholder="请输入邮箱">
##                                </div>
##                            </div>
                            <div class="form-group">
                                <div class="col-sm-8"></div>
                                <div class="col-sm-4" style="text-align: right;">
                                    <button type="button" class="btn btn-primary btn-label-right"
                                            onclick="fncAdd();">
                                        <span><i class="fa fa-floppy-o"></i></span> 保存
                                    </button>
                                    <button type="button" class="btn btn-danger btn-label-right"
                                            onclick="fncDel()">
                                        <span><i class="fa fa-trash"></i></span> 删除
                                    </button>
                                </div>
                                <div class="col-sm-4"></div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- 模态框（Modal） -->
<div class="modal fade bs-example-modal-lg" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">用户信息</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" role="form" style="height:400px;overflow-y: auto; overflow-x: hidden; ">
                    <div class="form-group">
                        <label class="col-sm-4 control-label" for="username1">用户名</label>
                        <div class="col-sm-4 ">
                            <input type="text" class="form-control" id="username1" name="username" placeholder="请输入用户名">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label" for="email">邮箱</label>
                        <div class="col-sm-4 ">
                            <input type="text" class="form-control" id="email" name="email" placeholder="请输入邮箱">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label" for="email">性别</label>
                        <div class="col-sm-4 ">
                            <div class="radio radio-info radio-inline">
                                <input type="radio" id="sex1" name="sex" checked>
                                <label for="sex1"> 男 </label>
                            </div>
                            <div class="radio radio-inline">
                                <input type="radio" id="sex2" name="sex">
                                <label for="sex2"> 女 </label>
                            </div>
                        </div>

                    </div>

                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button type="button" class="btn btn-primary">提交更改</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>

<!-- Javascript -->
<script src="$!contextPath/static/js/menu/menu.js"></script>

