#set($contextPath=$request.getContextPath())

<!DOCTYPE html>
<html lang="en" >

<head>
    <title>首页</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <!-- ICONS -->
    <link rel="apple-touch-icon" sizes="76x76" href="$!contextPath/static/assets/img/apple-icon.png">
    <link rel="icon" type="image/png" sizes="96x96" href="$!contextPath/static/assets/img/favicon.png">

    #parse("commons/common.vm")
</head>
<body>

<!-- WRAPPER -->
<div id="wrapper">
    <!--顶部导航开始-->
    #parse("commons/header.vm")
    <!--顶部导航结束-->

    <!--左侧导航开始-->
    #parse("commons/aside.vm")
    <!--左侧导航结束-->
    <main class="main">
        $screen_content
    </main>

    #parse("commons/footer.vm")

</div>
<!-- END WRAPPER -->
</body>

</html>
